.sign-in-cont {
  height: 827px; }
  .sign-in-cont .sign-in-options {
    margin-top: 145px; }
    .sign-in-cont .sign-in-options .sign-in-form {
      margin: 95px; }

.sign-up-cont {
  height: 827px; }
  .sign-up-cont .sign-up-options {
    margin-top: 145px; }
    .sign-up-cont .sign-up-options .sign-up-form {
      margin: 95px; }
