//////////Sign In css///////////
.sign-in-cont{
    height: 827px;
    .sign-in-options{
        margin-top: 145px;
        .sign-in-form{
            margin: 95px;
        }
    }
}
//////////Sign In css///////////

/////////Sign Up Css/////////
.sign-up-cont{
    height: 827px;
    .sign-up-options{
        margin-top: 145px;
        .sign-up-form{
            margin: 95px;
        }
    }
}
/////////Sign Up Css/////////